<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Product
        link(href="dist/css/bootstrap.min.css", rel="stylesheet")
    body
        .container
            .row
                a(href="/addproduct", class="btn btn-primary mt-5 btn-lg", style="margin: auto") Admin
                a(href="/store", class="btn btn-success mt-5 btn-lg", style="margin: auto") Store
        script(src="dist/js/bootstrap.min.js")